<div ng-controller="HomeCtrl">

<div class="row">
  <div class="col-md-6">
    user edit profile insert
    <br/>

    user gallery management section

  </div>

  <div class="col-md-6">
    Messages Section <br/>
    <br/>

    <div class="well">
      <h4>Schedules & Flyers</h4>
      <ul>
        <li><a href="/docs/2015_flyer.pdf">2015 Retreat Flyer</a></li>
        <li><a href="http://www.inlight.com/public_html/CONTENTS/TWSCHEDU.HTM">Fr. Tom's Schedule</a></li>
        <li><a href="#">Fr. Jim's Schedule</a></li>
      </ul>

    </div>
  </div>
</div>

</div>